/* Shared styles */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  /* font-family: 'Inter', sans-serif; */
  font-family: "Mulish", sans-serif;
  max-width: 1440px;
}

.container {
  width: 82%;
  max-width: 1170px;
  margin: 100px auto;
}

.main-title-container {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 16px;
}

.main-title {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}

.main-title .travels {
  color: #ff5400;
}

.description {
  /* text-align: center; */
  font-size: 16px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
}

.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
}

.container-title {
  color: #131318;
  /* text-align: center; */
  font-size: 40px;
  font-weight: 800;
}

/* nav related styles */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
  margin: 50px auto;
}

.nav-container .navbar .nav-list {
  display: flex;
  list-style: none;
  gap: 44px;
}

.nav-container .navbar .nav-list .orange {
  color: #ff5400;
}

.nav-container .navbar .nav-list a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.nav-container .navbar .hamburger-menu {
  font-size: 20px;
  cursor: pointer;
  display: none;
}

/* banner section styles */
.banner {
  height: 500px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/Group\ 13\ \(1\)\ \(1\).png");
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.banner .banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
  padding-top: 106px;
  margin-top: 106px;
}

.banner .description {
  color: #fff;
  margin: 24px 240px;
  margin-bottom: 64px;
}
.banner .form {
  margin-left: 185px;
  margin-right: 185px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
.banner .form form {
  display: flex;
  padding: 16px;
  gap: 24px;
}

.banner .form .gray-text {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
}

.banner .form .gray-text,
.banner .form .center {
  text-align: center;
}

.banner .form input,
.banner .form select {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: none;
}

.banner .form button {
  font-size: 16px;
}

/* popular tours section */
.popular-tours {
  display: flex;
  justify-content: space-between;
  height: 550px;
}

.popular-tours .popular-tour-text {
  margin-right: 50px;
}
.popular-tours .popular-tour-text p {
  margin: 30px 0;
}

.popular-tours .popular-tour-text ul li {
  margin-left: 20px;
  margin-bottom: 16px;
}

/* destination section */

.destination .container-title,
.destination .description {
  text-align: center;
}

.destination .container-title {
  margin-top: 5px;
}
.destination .description {
  margin: 40px 200px;
}

.destination .destination-img {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.destination .destination-img .destination-img1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.destination .destination-img .destination-img2 {
  display: grid;
  grid-template-columns: 374px auto 274px;
  gap: 24px;
}

.destination .destination-img .destination-img3 {
  display: grid;
  grid-template-columns: 473px auto;
  gap: 24px;
}

.destination .destination-img .img-container {
  position: relative;
}

.img-container .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

/* choosing section */

.choose .container-title,
.choose .description,
.choose .card img {
  margin: 24px;
}

.choose .card-div1 {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 24px;
}

.choose .card-div2 .card {
  margin: 0 auto;
}

.choose .card {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.choose .card-div1 .sky-blue {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.choose .card .container-title {
  font-size: 24px;
}
.choose .card .description {
  color: #5a5a5d;
}

/* footer */
footer {
  background: rgba(19, 19, 24, 0.05);
  text-align: center;
}

.footer-title {
  padding-top: 110px;
  padding-bottom: 15px;
}

footer .description {
  margin: 0 400px;
}

footer .icons {
  margin: 32px auto;
}

footer .small {
  margin-top: 20px;
  padding-bottom: 110px;
}

footer .small small {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  padding-bottom: 110px;
}

footer hr {
  width: 70%;
}

/* newsletter section */

.news-letter {
  display: flex;
  gap: 24px;
}
.news-letter .text {
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}

.news-letter .container-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.news-letter .description {
  color: #5a5a5d;
  margin-bottom: 20px;
}
.news-letter .signup-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-top: 20px;
}

.news-letter .signup-form .sign-up {
  width: 100%;
  border: none;
}

.news-letter .signup-form input {
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  height: 52px;
  padding-left: 16px;
}

.news-letter .news-img {
  position: relative;
}

.news-letter .text-box {
  position: absolute;
  bottom: 13%;
  right: 2%;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  background-color: #ff5400;
  border-radius: 16px;
  padding: 5%;
  transform: rotate(-19.628deg);
}

.news-letter .text-box .text-box-small {
  font-size: 24px;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .container-title {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }
  /* banner related */

  .banner .banner-title {
    font-size: 22px;
    padding-top: 45px;
  }

  .banner .description {
    margin: 15px;
  }

  .banner .form {
    width: fit-content;
    margin: 10px auto;
  }

  .banner .form form,
  .news-letter {
    flex-direction: column;
    gap: 16px;
  }

  .popular-tours {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: auto;
  }

  .popular-tours .popular-tour-img img,
  .news-letter .news-img .news-img1 {
    width: 100%;
  }

  /* destination section */

  .destination .description {
    margin: 20px 20px;
  }
  .destination .destination-img .destination-img1,
  .destination .destination-img .destination-img2,
  .destination .destination-img .destination-img3,
  .choose .card-div1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .destination .destination-img img {
    width: 335px;
    height: 176px;
  }

  .choose .card {
    width: 100%;
  }

  .news-letter .news-img .box {
    width: 60%;
    height: 40%;
  }

  .main-title {
    font-size: 22px;
  }

  /* footer */
  footer .description {
    margin: 10px 30px;
  }

  .container {
    gap: 100px;
  }
  .nav-container .navbar .hamburger-menu {
    display: block;
  }

  .nav-container .navbar .nav-list {
    display: none;
    flex-direction: column;
  }

  .news-letter .text-box {
    font-size: 20px;
    font-weight: 800;
  }
}
